* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @media (prefers-color-scheme: dark) {
    --bg-transparent: #eff1f50c;
    --bg: #1c1c6a;
    --sub-bg: #1e2030;
    --text: #cdd6f4;
    --sub-text: #bac2de;
    --accent: #cba6f7;
    --primary: #89b4fa;
  }

  @media (prefers-color-scheme: light) {
    --bg-transparent: #8839ef0a;
    --bg: #d6e1f7;
    --sub-bg: #e6e9ef;
    --text: #4c4f69;
    --sub-text: #5c5f77;
    --accent: #1e66f5;
    --primary: #8839ef;
  }

  --v-sm: 6px;
  --v-md: 10px;
  --v-lg: 16px;
  --v-xl: 22px;
  --v-2xl: 32px;
}

html,
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--text);
  background: var(--bg);
  background-image: url("./public/noise-light.png");
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s ease;
}

.text.primary {
  color: var(--primary);
}

.text.secondary {
  color: var(--sub-text);
}

.app {
  padding: var(--v-2xl) 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--v-2xl);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--v-md);
  text-align: center;
}

.converter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.file-picker {
  border: 2px dashed var(--primary);
  border-radius: 12px;
  padding: 24px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.file-picker:hover {
  background: var(--sub-bg);
  color: var(--sub-text);
}

.file-picker.dragging {
  border: 2px dashed var(--accent);
  transition: all 0.5s ease;
  background: var(--sub-bg);
}

.quality-ctrl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--v-sm);
}

.quality-ctrl.disable {
  opacity: 0.5;
}

.result {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--v-sm);
}

.result .item {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  overflow: hidden;
  padding: var(--v-md);
  background: var(--bg-transparent);
  backdrop-filter: blur(var(--v-md));
  border-radius: var(--v-sm);
  transform: translateY(10%);
  opacity: 0;
}

.result .item.active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 0.3s ease;
}

.img-wrapper {
  width: 100%;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--sub-text);
  border-radius: 8px;
}

.img-wrapper .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.item .info {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: column;
  padding: 0 12px;
  height: 100%;
  gap: 8px;
}

.info .extra {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.extra .text {
  width: fit-content;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid var(--accent);
  font-size: 14px;
}

.filename {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.item .action {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  gap: 8px;
  width: 100%;
  height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  cursor: pointer;
}

.flat {
  background: var(--primary);
  padding: 4px;
  outline: none;
  border-radius: 4px;
  border: 2px solid transparent;
}

.flat:hover {
  border: 2px solid var(--accent);
}

.feedback {
  padding: 4px var(--v-md);
  background: var(--primary);
  color: var(--sub-bg);
  z-index: 9999;
  position: fixed;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s ease;
  border-radius: var(--v-2xl);
  text-align: center;
  filter: drop-shadow(0 0 0rem var(--primary));
}

.feedback.active {
  transition: all 0.5s ease;
  bottom: 2%;
  opacity: 1;
  filter: drop-shadow(0 0 0.5rem var(--primary));
}

.dialog {
  z-index: 9998;
  width: 100%;
  height: 100svh;
  position: fixed;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--sub-bg);
  opacity: 0.5;
}

.dialog.active {
  top: 0%;
  opacity: 1;
  transition: all 0.4s ease;
}

.container {
  z-index: 9999;
  position: relative;
  width: 90svw;
  height: 70svh;
  background: var(--bg-transparent);
  backdrop-filter: blur(10px);
  padding: var(--v-md);
  border-radius: var(--v-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--v-md);

  scale: 1.2;
  opacity: 0;
}

.container.active {
  transition: all 0.3s ease;
  scale: 1;
  opacity: 1;
}

.container .title {
  font-size: 24px;
  font-weight: 500;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.container .close {
  position: absolute;
  top: 0%;
  right: 0%;
  outline: none;
  border: none;
  font-size: 12px;
  background: var(--sub-text);
  color: var(--sub-bg);
  padding: 2px var(--v-sm);
  border-radius: 0px var(--v-md) 0px var(--v-sm);
  width: fit-content;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: var(--v-sm);
}

.badge .item {
  font-size: 12px;
  font-weight: 500;
  padding: 4px var(--v-sm);
  color: var(--sub-bg);
  background: var(--sub-text);
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--v-lg);
}

.image img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .result {
    width: 85%;
  }

  .container {
    width: 85svw;
  }
}

@media (min-width: 1024px) {
  .result {
    width: 50%;
  }

  .container {
    width: 50%;
  }
}

.mesh {
  position: fixed;
  filter: blur(100px);
  z-index: 0;
  pointer-events: none;
}

.mesh.one {
  border-radius: 9999px;
  width: 300px;
  height: 300px;
  background: var(--primary);
  top: -5%;
  left: -10%;
  opacity: 0.3;
}

.mesh.two {
  border-radius: 0px;
  width: 90%;
  height: 70%;
  background: var(--accent);
  top: 50%;
  left: 50%;
  opacity: 0.1;
  translate: -50% -50%;
}

.mesh.three {
  border-radius: 9999px;
  width: 300px;
  height: 300px;
  background: var(--primary);
  bottom: -5%;
  right: -10%;
  opacity: 0.3;
}

.help {
  position: fixed;
  bottom: var(--v-md);
  right: var(--v-md);
}

.help .issue {
  color: var(--sub-text);
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
}

.progress-bar {
  position: fixed;
  left: 0%;
  top: 0;
  background: var(--sub-text);
  width: var(--v-sm);
  border-radius: var(--v-sm);
  transition: all 0.3s linear;
}
